.item {
  margin-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: auto;
}

.btn {
  box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.96);
  -webkit-box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.96);
  -moz-box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.96);
  transition: transform 300ms;
  &:hover,
  :focus {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
    transition: transform 300ms;
  }
}
